= simple_form_for [:admin, company], html: { class: 'bg-light p-4'}, defaults: { wrapper_html: { class: 'col-6' } } do |f|
  .row.mb-3
    = f.input :name
  = f.submit 'Save', class: 'btn btn-primary mt-3'