@import 'bootstrap/scss/bootstrap';

.page-link, .page-link:hover, .page-link:focus {
  color: #212529;
}

.page-item.active .page-link {
  background-color: #212529;
  border-color: #212529;
}

.th-order-link > a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #0d6efd;
  }
}

.col-1-5 {
  width: 12.5%;
}

.col-1-25 {
  width: 10.417%;
}